body  {
  background-color: #171010;
  color: white;
  font-family: 'Archivo', sans-serif;
  font-size: 20px;
}

h2  {
  color: #05DFD7;
}

h3  {
  color: orange;
}

img {
  width: 150px;
}

nav {
  direction: rtl;
  }

nav
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
  }

nav
  li {
    float: right;
  }

nav
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


nav
  li a:hover {
    background-color: #111;
  }
