body  {
  background-color: #F5F5F5;

  font-size: 18px;
}

p {
  text-indent: 4%;
}

h2  {
  background-color: #A2D2FF;
  color: black;
}

h3  {
  color: orange;
}

img {
  width: 150px;
}

nav {
  direction: rtl;
  }

nav
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
  }

nav
  li {
    float: right;
  }

nav
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


nav
  li a:hover {
    background-color: #111;
  }

.c101 {
  background-color: #ffe599;
  font-weight: 700;
}

.c102 {
  background-color: #b6d7a8;
  font-weight: 700;
}

.c103  {
  background-color: #9fc5e8;
  font-weight: 700;
}

.c104 {
  background-color: #d5a6bd;
  font-weight: 700;
}
