body  {
  background-color: #F5F5F5;
  font:0.9em "Tahoma", sans-serif;
  line-height: normal;
}

p {
  text-indent: 4%;
}

h2  {
  background-color: #A2D2FF;
  color: black;
}

h3  {
  color: #A13333;
}

img {
  width: 150px;
}

nav {
  direction: rtl;
  }

nav
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
  }

nav
  li {
    float: right;
  }

nav
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


nav
  li a:hover {
    background-color: #111;
  }

.c101 {
  background-color: #ffe599;

}

.c102 {
  background-color: #b6d7a8;

}

.c103  {
  background-color: #9fc5e8;

}

.c104 {
  background-color: #d5a6bd;

}

.c20 {
  background-color: #274e13;
  font-size: 12px;
  font: 0.7em "Tahoma", sans-serif;
  color: white;

}

.c26 {
  background-color: #502064;
  font-size: 12px;
  font: 0.7em "Tahoma", sans-serif;
  color: white;
}

.c4 {
  background-color: #990000;
  font-size: 12px;
  font: 0.7em "Tahoma", sans-serif;
  color: white;
}


p.big {
  line-height: 1.8;
}
